# node_modules - תיקיית התלויות (כבר לא צריכה להיכנס לגיט)
node_modules/

# קובצי לוג
*.log

# קובצי סביבה עם סיסמאות והגדרות רגישות
.env

# קבצים שנוצרים בזמן הריצה
dist/
build/

# IDE או מערכת הפעלה
.vscode/
.DS_Store